.main-container {
  width: 100%;
  padding: 1.5rem;
  background-color: #EEEEEE;
  height: fit-content;

  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  flex: 1 0 auto;

  position: sticky;
  bottom: 0;
}