.main-container {
  width: 100%;
  padding: 1.5rem;
  background-color: #EEEEEE;
  height: fit-content;

  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  flex: 1 0 auto;

  position: sticky;
  bottom: 0;
}

.text-disclaimer {
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  color: #605D64;
}